<!DOCTYPE html>
<html>

<head>
  <title>Buzz App</title>
  <link rel="stylesheet" href="MessageList.css">
  <script src="./MessageList.js"></script>
  <style>
    header {
      background-color: #fff;
      color: #fff;
      padding: 10px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <!-- message list goes here -->
  <div className="message-list">
    <!-- message items go here -->
    <div className="message-item">
      <div className="message-text">Message input</div>
      <button className="message-likes">Like</button>
    </div>
  </div>

  <!-- message box goes here -->
  <div className="message-box">
    <input type="text" className="message-input" placeholder="Type a message...">
    <button className="send-button">M</button>
  </div>
</body>

</html>