<!DOCTYPE html />
<html>
<head>
    <style>
        @import url('./src/components/appRoot.css');
    </style>    
</head>
<body>
    <main>
        <h1>Todo List</h1>
        <!-- 
            This empty div is where we will put todo-item components.  We give it a
            name, so that it is easy to find and easy to style.
        -->
        <div></div>
        <!--
            This button is how we add new items.  Again, we give it a name, so that
            it is easy to find and easy to style.
        -->
        <button>+</button>
    </main>
</body>
</html>