/* Messages.css */

/* Style for the main heading */
h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #eacbe3;
  font-family: 'Montserrat', sans-serif;
}

/* Style for the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #2f4858;
  font-family: 'Montserrat', sans-serif;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid #2f4858;
  font-size: 1rem;
  color: #2f4858;
  font-family: 'Montserrat', sans-serif;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #ffdde1;
  color: #2f4858;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: 'Montserrat', sans-serif;
}

button[type="submit"]:hover {
  background-color: #ffa5ab;
  color: white;
}

/* Style for the messages list */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #f5f5f5;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  
}

li:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -0.75rem;
  left: 0.5rem;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-bottom: 0.75rem solid #f5f5f5;
}

li:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #f5f5f5;
}

li .comment {
  color: rgb(0, 0, 0);
}

li .comment::before {
  content: "\2192"; /* Unicode character for right arrow */
  color: rgb(0, 0, 0);
  /* margin-right: 0.5rem; */
}
