.App {
  text-align: center;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
body {
  background-color: black;
}

h1 {
  color: #ffe4e1;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Shantell Sans', sans-serif;
  text-align: center;
  text-shadow: 1.5px 1.5px 0 #fff;
  margin-top: 50px;
}

